{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "ie >= 9",
            "Firefox > 25",
            "Chrome > 30",
            "Safari >= 8"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "dev": {
      "plugins": ["react-hot-loader/babel"]
    }
  },
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport":true
      }
    ]
  ]
}
