{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 9",
            "Firefox > 25",
            "Chrome > 30",
            "Safari >= 8"
          ]
        }
      }
    ],
    "react"
  ],
  "env": {
    "dev": {
      "plugins": ["react-hot-loader/babel"]
    }
  },
  "plugins": [
  	"transform-decorators-legacy"
  ]
}
