transform(value) {
  -webkit-transform: value;
     -moz-transform: value;
      -ms-transform: value;
       -o-transform: value;
          transform: value;
}

transition(value) {
  -webkit-transition: value;
     -moz-transition: value;
      -ms-transition: value;
       -o-transition: value;
          transition: value;
}

filter(value) {
  -webkit-filter: value;
     -moz-filter: value;
      -ms-filter: value;
       -o-filter: value;
          filter: value;
}
