/**
 * MUSE: Just a simple and dilligent HTML5 Audio Player
 */

.muse-player {
  * {
    box-sizing: border-box;
  }
}

@import './layouts/default.styl';
@import './layouts/landscape.styl';
