@import url("font-awesome.css");


ymplayer{
	background-color: rgb(52,189,207);
	display: block;
	margin:10px auto;
	width: 80%;
	position: relative;
	height:120px;
	font-family: "Microsoft Yahei";
	color: #fff;
	margin: 10px auto;
	opacity: 0.9;
	-webkit-transition:0.3s all;
	transition:0.3s all;	
	-moz-transition:0.3s all;		
}

ymplayer a{
    color:#fff!important;
}

ymplayer lrc{
	display: none;
}

.ym-controller{
	display: inline-block;
	transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	float: right;
	position: absolute;
	right: 2%;
	top:50%;
	transform: translate3D(0,-50%,0);
	-webkit-transform: translate3D(0,-50%,0);	
	width: 50%;

}
.ym-songinfo{
	position: absolute;
	left: 2%;
	top:50%;
	transform: translate3D(0,-50%,0);
	-webkit-transform: translate3D(0,-50%,0);	
	width: 50%;
}
.ym-songinfo p{
	margin:2px;
}
.player-container{
	position: absolute;
	bottom:0px;
	height:60px;
	width: 100%;
}
.ymbtn{
	color:#fff;
	margin:0 10px;
	font-size: 18px;
	-webkit-transition:0.3s all;
	transition:0.3s all;	
	-moz-transition:0.3s all;		
}
.volume-bar{
	width: 36%;
	height: 4px;
	display: inline-block;
	background-color: #fff;
	float:right;
	position: absolute;
	top: 50%;
	transform: translate3D(0,-50%,0);
	-webkit-transform: translate3D(0,-50%,0);	
	margin-left: 10px;
	cursor: pointer;
}
.ym-play-status{
	width: auto;
	display: inline-block;
	float: left;
	width: 59%;
	text-align: right;
}
.ym-cover-image{
	display: inline-block;
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	background-size: cover;
	background-position: center;
	background-color: #fff;
}
.ym-progress{
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 60px;
}
.ym-progress-handler{
	position: relative;
	height: 100%;
	width: 100%;
}
.ym-pgbar{
	display: inline-block;
	width: 75%;
	height: 4px;
	background-color: rgb(117,222,243);
	position: absolute;
	top: 50%;
	transform: translate3D(0,-50%,0);
	-webkit-transform: translate3D(0,-50%,0);
	left: 13%;
	cursor: pointer;
	right: 13%;
}
/*
.duration-time{
	position: absolute;
	display: block;
	right: 9%;
	top: 50%;
	transform: translate3D(0,-50%,0);
	-webkit-transform: translate3D(0,-50%,0);			
}
*/
.current-time{
	display: inline-block;
	width: 5%;
	position: absolute;
	top: 50%;
	transform: translate3D(0,-50%,0);
	-webkit-transform: translate3D(0,-50%,0);
	left: 4%;
	right: 1%;
	width: 10%;
}
.duration-time{
	display: inline-block;
	position: absolute;
	right: 4%;
	left: 1%
	width: 10%;
	top: 50%;
	transform: translate3D(0,-50%,0);
	-webkit-transform: translate3D(0,-50%,0);
}
.ym-played{
	position: relative;
	height: 100%;
	width: 0%;
	background-color: rgb(206,255,255);
	-webkit-transition:0.3s all;
	transition:0.3s all;	
	-moz-transition:0.3s all;	
}
.ym-circle{
	width: 6px;
	height: 6px;
	position: absolute;
	right: -8px;
	top: -3px;
	border-radius: 50%;
	background-color: rgb(206,255,255);
	border:2px solid #fff;
	box-sizing:content-box!important;
	-moz-box-sizing:content-box!important;
	-webkit-box-sizing:content-box!important;
}
.looping{
	color: rgb(83,209,223)!important;
}
.lrc-container{
	text-align: center;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
}
.ym-lrcbox{
	height: 0px;
	overflow: hidden;
	transition: 0.3s all;
	-webkit-transition:0.3s all;
	-moz-transition:0.3s all;
	color: rgb(209,253,253);
}
.lrc-container p{
	margin:10px 0px;
	font-weight: 100;
}
.ym-active{
	color: #fff;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;	
}
.ym-active p{
	font-weight: bold!important;
}
.volume-current{
	width: 100%;
	background-color: rgb(129,224,242);
	height: 100%;
	transition: 0.3s all;
	-webkit-transition:0.3s all;
	-moz-transition:0.3s all;
	position:relative;
}
@media screen and (max-width: 864px){
    .ym-songinfo{
        width:35%;
    }
    .ym-play-status{
        width:60%;
    }
    .ym-pgbar{
        width:75%;
    }
}
@media screen and (max-width: 800px){
	.ym-songinfo{
		display: none;
	}
	.ym-controller{
		width: 100%;
	}
}
@media screen and (max-width: 700px){
	.current-time,.duration-time{
		display: none;
	}
	.ym-pgbar{
		width: 94%;
		left: 3%;
		right: 3%;
	}
}
@media screen and (max-width: 480px){
	.volume-bar{
		display: none;
	}
	.ym-play-status{
		text-align: center;
		width: 100%;
	}
}
/** Other Color */

/* nico : Pink */
.nico{
	background-color: rgb(255,128,132);
	/*background-color: rgba(238,110,115,.85);*/
}
.nico .ym-pgbar, .nico .ym-circle, .nico .volume-current{
	background-color:#FFDDE4;
}
.nico lyric{
	color:#FFDDE4;
}
.nico .ym-active{
	color:#fff;
}
.nico .ym-played{
	background-color: #fff;
}

/* honoka : orange */
.honoka{
	background-color: rgb(236,141,51);
}
.honoka .ym-pgbar, .honoka .ym-circle, .honoka .volume-current{
	background-color: rgb(246,190,109);
}
.honoka lyric{
	color: #FFD6BB;
}
.honoka .ym-played{
	background-color: #fff;
}
.honoka .ym-active{
	color:#fff;
}

/* umi : depp blue */
.umi{
	background-color: rgb(67,66,140)
}
.umi .ym-pgbar, .umi .ym-circle, .umi .volume-current{
	background-color: rgb(147,160,210);
}
.umi .ym-played{
	background-color: #fff;
}
.umi .ym-active{
	color:#fff;
}

/* kotori : grey */
.kotori{
	background-color: rgb(192,169,136)
}
.kotori .ym-pgbar, .kotori .ym-circle, .kotori .volume-current{
	background-color: rgb(212,192,161);
}
.kotori .ym-played{
	background-color: #fff;
}
.kotori .ym-active{
	color:#fff;
}
.kotori lyric{
	color: #EFE1CB;
}